/* Coolors Exported Palette - https://coolors.co/102770-dde0e4-1f2029-f4f6f6-1f1f28-2f2d3e-b5b4bc-a09a99 */

/* CSS HEX */
--royal-blue-dark: #102770ff;
--gainsboro: #DDE0E4ff;
--raisin-black: #1F2029ff;
--cultured: #F4F6F6ff;
--raisin-black-2: #1F1F28ff;
--raisin-black-3: #2F2D3Eff;
--silver-metallic: #B5B4BCff;
--spanish-gray: #A09A99ff;

/* CSS HSL */
--royal-blue-dark: hsla(226, 75%, 25%, 1);
--gainsboro: hsla(214, 11%, 88%, 1);
--raisin-black: hsla(234, 14%, 14%, 1);
--cultured: hsla(180, 10%, 96%, 1);
--raisin-black-2: hsla(240, 13%, 14%, 1);
--raisin-black-3: hsla(247, 16%, 21%, 1);
--silver-metallic: hsla(248, 6%, 72%, 1);
--spanish-gray: hsla(9, 4%, 61%, 1);

/* SCSS HEX */
$royal-blue-dark: #102770ff;
$gainsboro: #DDE0E4ff;
$raisin-black: #1F2029ff;
$cultured: #F4F6F6ff;
$raisin-black-2: #1F1F28ff;
$raisin-black-3: #2F2D3Eff;
$silver-metallic: #B5B4BCff;
$spanish-gray: #A09A99ff;

/* SCSS HSL */
$royal-blue-dark: hsla(226, 75%, 25%, 1);
$gainsboro: hsla(214, 11%, 88%, 1);
$raisin-black: hsla(234, 14%, 14%, 1);
$cultured: hsla(180, 10%, 96%, 1);
$raisin-black-2: hsla(240, 13%, 14%, 1);
$raisin-black-3: hsla(247, 16%, 21%, 1);
$silver-metallic: hsla(248, 6%, 72%, 1);
$spanish-gray: hsla(9, 4%, 61%, 1);

/* SCSS RGB */
$royal-blue-dark: rgba(16, 39, 112, 1);
$gainsboro: rgba(221, 224, 228, 1);
$raisin-black: rgba(31, 32, 41, 1);
$cultured: rgba(244, 246, 246, 1);
$raisin-black-2: rgba(31, 31, 40, 1);
$raisin-black-3: rgba(47, 45, 62, 1);
$silver-metallic: rgba(181, 180, 188, 1);
$spanish-gray: rgba(160, 154, 153, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #102770ff, #DDE0E4ff, #1F2029ff, #F4F6F6ff, #1F1F28ff, #2F2D3Eff, #B5B4BCff, #A09A99ff);
$gradient-right: linear-gradient(90deg, #102770ff, #DDE0E4ff, #1F2029ff, #F4F6F6ff, #1F1F28ff, #2F2D3Eff, #B5B4BCff, #A09A99ff);
$gradient-bottom: linear-gradient(180deg, #102770ff, #DDE0E4ff, #1F2029ff, #F4F6F6ff, #1F1F28ff, #2F2D3Eff, #B5B4BCff, #A09A99ff);
$gradient-left: linear-gradient(270deg, #102770ff, #DDE0E4ff, #1F2029ff, #F4F6F6ff, #1F1F28ff, #2F2D3Eff, #B5B4BCff, #A09A99ff);
$gradient-top-right: linear-gradient(45deg, #102770ff, #DDE0E4ff, #1F2029ff, #F4F6F6ff, #1F1F28ff, #2F2D3Eff, #B5B4BCff, #A09A99ff);
$gradient-bottom-right: linear-gradient(135deg, #102770ff, #DDE0E4ff, #1F2029ff, #F4F6F6ff, #1F1F28ff, #2F2D3Eff, #B5B4BCff, #A09A99ff);

