<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Research Portal</title>
<style type="text/css">
.nav {
    width: 100%;
    float: left;
    margin: 0 0 3em 0;
    padding: 0;
    list-style: none;
    background-color: #ffeba7;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc; }
.nav li {
    float: left; }
.nav li a {
    display: block;
    padding: 8px 15px;
    text-decoration: none;
    font-weight: bold;
    color: #000000;
    border-right: 1px solid #ccc; }
.nav li a:hover {
    color: 2FF6ED;
    background-color: 2FF6ED; }
</style>

</head>

<body style=" margin:0px;background-color: #1f2029;">
    <div id="s_01" style=" height:120px; width:100%; background-color: #1f2029;">
        <img src="C:\Users\tyagi\OneDrive\Desktop\" style="margin-left:60px;margin-top:10px " width="100" height="100"  />
        <img src="C:\Users\tyagi\OneDrive\Desktop\" style="margin-left:1050px;margin-top:10px " width="100" height="100"  />
    </div>
    <div id="s_02" style="width:100%;">
        <ul class="nav" style="width:100%;"><li class="first leaf"><a href="Home.html" title="" class="active" style="margin-left:370px; ">Home</a></li>    
            <li><a href="/Academics" title="">Academics</a></li>
            <li><a href="/Notifications" title="">Notifications</a></li>
            <li><a href="/Internship Opportunities" title="">Internship Opportunities</a></li>
            <li><a href="Research.html" title="btn mt-4">Research</a></li>
            <li><a href="/contact" style="margin-left:250px;" title="">Logout</a></li>
        </ul>
    </div>
    <div id="main">
        
    </div>
    <div id="r1" style="height:60px; margin:80px;font-size:100%;">
        <div id="m0" style="height:30px; width:1200px;background-color: #ffeba7;line-height: 30px;">&nbsp;&nbsp;&nbsp;<b>About</b></div>
        <div id="m1" style="height:100px; width:1200px;background-color: #B5B4BCff;">
            <div style="margin-left:100px;">
                <div style="height:33px;line-height:33px;">
                    Student Name:  &nbsp; <b>Manik Tyagi</b>
                </div>
                <div style="height:33px;line-height: 33px;">
                    Section:  &nbsp; <b> B</b> </div>
                    <div style="height:33px;line-height: 33px;">
                        Department:  &nbsp; <b> Computer Science</b> </div>
                    </div>
                </div>
            </div>
        </body>
        </html> <! Manik and Aakash !>
